<h1>MHA Admin</h1>

<p>A new user has signed up.  If you believe this user is genuine, please forward the link to them at <%= @user.email %> so they can activate their account:</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>