<li id="project-<%= project.id %>">
  <span class="user"><%= link_to project.user.name, project.user %></span>
  <span class="project-name"><%= project.name %></span>
  <span class="projection-location"><%= project.location %></span>
</li>