<footer>
  <div class="footer-outer" style="background-color:inherit">
    <div class="nav-container">
      <div class="footerline">
        &nbsp;
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          &nbsp;
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin:10px 0 5px 0;">
          <p style="text-align:right;margin:0 5px">
            <a href="https://www.facebook.com/moranhook" target="_blank"><i aria-hidden="true" class="fa fa-facebook" style="font-size:20px;"></i></a>
            <!--<a href="#" target="_blank"><i aria-hidden="true" class="fa fa-instagram" style="font-size:20px;"></i></a>-->
            <a href="http://www.houzz.com/pro/moranhook/moran-hook-architecture" target="_blank"><i aria-hidden="true" class="fa fa-houzz" style="font-size:20px;"></i></a>
            <a href="https://www.pinterest.com/moranhook/" target="_blank"><i aria-hidden="true" class="fa fa-pinterest" style="font-size:20px;"></i></a>
          </p>
          <p class="copyright">&copy; 2016 Moran Hook Architecture, PLLC</p>
        </div>
      </div>
    </div>
  </div>
  <div id="footerOverflowFix">
    <div>
      &nbsp;
    </div>
  </div>
</footer>