<footer>
  <div class="footer-outer" style="background-color:inherit">
    <div class="nav-container">
      <div class="footerline">
        &nbsp;
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          &nbsp;
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin:10px 0 5px 0;">
          <p style="text-align:right;margin:0 5px">
            <% @static_page_info.social_media.each_with_index do |(type, value), i| %>
              <a href="<%= value %>", target="_blank">
                <i aria-hidden="true" class="fa <%= ((type == 'facebook') ? 'fa-facebook' : (type == 'linkedin') ? 'fa-linkedin-square' : (type == 'twitter') ? 'fa-twitter-square' : (type == 'tumblr') ? 'fa-tumblr-square' : (type == 'instagram') ? 'fa-instagram' : (type == 'googleplus') ? 'fa-google-plus-square' : (type == 'youtube') ? 'fa-youtube-square' : (type == 'vimeo') ? 'fa-vimeo-square' : (type == 'email') ? 'fa-envelope' : (type == 'flickr') ? 'fa-flickr' : (type == 'houzz') ? 'fa-houzz' : (type == 'pinterest') ? 'fa-pinterest' : '') %>" ></i>
              </a>
            <% end %>
          </p>
          <p class="copyright">&copy; 2010-<%= Time.current.year.to_s + ' ' + @static_page_info.company_name %></p>
        </div>
      </div>
    </div>
  </div>
  <div id="footerOverflowFix">
    <div>
      &nbsp;
    </div>
  </div>
</footer>